---
http_interactions:
- request:
    method: get
    uri: https://api.pearson.com/longman/dictionary/entry.json?apikey=e323f1656bccf0f1b166b2b52c57878b&q=cat
    body: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"95192ce92312d94c714932b58165444f"'
      Status:
      - '200'
    body: ! '{"Entries":{"Entry":{"@id":"6e2b450a_1150373ac67_-758a","Ref":{"@resource":"etymologies","@topic":"02386"},"Head":{"HWD":{"#text":"cat"},"HYPHENATION":{"#text":"cat"},"FREQ":[{"#text":"S1"},{"#text":"W3"}],"PronCodes":{"PRON":{"#text":"kæt"}},"POS":{"#text":"noun"},"GRAM":{"#text":"countable"}},"Sense":[{"@id":"6e2b450a_1150373ac67_-7580","Subsense":[{"DEF":{"#text":"a
      small animal with four legs that people often keep as a pet."},"RELATEDWD":{"#text":"feline"},"ColloExa":{"COLLO":{"#text":"tabby\/ginger\/tortoiseshell
      etc cat"},"GLOSS":{"#text":"colours of cats"}},"EXAMPLE":{"@id":"6e2b450a_1150373ac67_-7577","#text":"a
      ","COLLOINEXA":{"#text":"tom cat"},"GLOSS":{"#text":"a male cat"}}},{"Variant":{"LINKWORD":{"#text":"also"},"LEXVAR":{"#text":"big
      cat"}},"DEF":{"#text":"a large animal such as a lion or ","NonDV":{"REFHWD":{"#text":"tiger"}}}}]},{"@id":"6e2b450a_1150373ac67_-756c","LEXUNIT":{"#text":"let
      the cat out of the bag"},"DEF":{"#text":"to tell someone a secret, especially
      without intending to"}},{"@id":"6e2b450a_1150373ac67_-7568","LEXUNIT":{"#text":"put\/set
      the cat among the pigeons"},"DEF":{"#text":"to do or say something that causes
      arguments, trouble etc"}},{"@id":"6e2b450a_1150373ac67_-7564","LEXUNIT":{"#text":"play
      (a game of) cat and mouse (with somebody)"},"DEF":{"#text":"to pretend to allow
      someone to do or have what they want, and then to stop them from doing or having
      it"},"EXAMPLE":{"@id":"6e2b450a_1150373ac67_-7560","#text":"The police played
      an elaborate game of cat and mouse to trap him.","multimedia":{"@href":"\/multimedia\/exa_pron\/p008-001701509.mp3","@type":"EXA_PRON","#text":"\/multimedia\/exa_pron\/p008-001701509.mp3"}}},{"@id":"6e2b450a_1150373ac67_-755f","LEXUNIT":{"#text":"the
      cat’s whiskers\/pyjamas"},"REGISTERLAB":{"#text":"informal"},"DEF":{"#text":"something
      or someone that is better than everything else"},"EXAMPLE":{"@id":"6e2b450a_1150373ac67_-755b","#text":"I
      really thought I looked the cat’s whiskers in that dress.","multimedia":{"@href":"\/multimedia\/exa_pron\/p008-001701515.mp3","@type":"EXA_PRON","#text":"\/multimedia\/exa_pron\/p008-001701515.mp3"}}},{"@id":"6e2b450a_1150373ac67_-755a","LEXUNIT":{"#text":"like
      a cat on hot bricks"},"GEO":[{"#text":"British English"},{"#text":"American
      English"}],"Variant":{"LEXVAR":{"#text":"like a cat on a hot tin roof"}},"DEF":{"#text":"so
      nervous or anxious that you cannot keep still or keep your attention on one
      thing"}},{"@id":"6e2b450a_1150373ac67_-7552","LEXUNIT":{"#text":"not stand\/have
      a cat in hell’s chance (of doing something)"},"REGISTERLAB":{"#text":"informal"},"DEF":{"#text":"to
      not have any chance of succeeding"},"EXAMPLE":{"@id":"6e2b450a_1150373ac6[...]
